<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>блядство</title>
    <link href="../static/css/index_styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Malik+Trial&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Справочник по трудовому праву</h1>
        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-primary" id="searchButton">
                <span class="search-text">Поиск</span>
                <input type="text" class="search-input" placeholder="Введите ваш запрос">
            </button>
            <button type="button" class="btn btn-primary" id="codexButton">Трудовой кодекс РФ</button>
            <button type="button" class="btn btn-primary" id="favoritesButton">Избранное</button>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>